@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 228 60% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 228 60% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 232 53% 66%;
    --primary-foreground: 228 60% 97%;
    --secondary: 228 60% 92%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 228 60% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 287 24% 58%;
    --accent-foreground: 228 60% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 53% 86%;
    --input: 232 53% 86%;
    --ring: 232 53% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 232 53% 66%;
    --primary-foreground: 228 60% 97%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 287 24% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 232 53% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
